{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Attendance Management{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
</head>
<body>

<div class="header">
    <h1>Attendance Management System</h1>
</div>

<div class="sidebar">
    <a href="{% url 'dashboard' %}">Dashboard</a>
    <a href="{% url 'mark_attendance' %}">Mark Attendance</a>
    <a href="{% url 'view_attendance' %}">View Attendance</a>
</div>

<div class="main">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>
